@import 'tailwindcss';

@theme inline {
    --font-poppins: var(--font-poppins);
    --font-abrli-fatface: var(--font-abrli-fatface);
}

html {
    @apply scroll-smooth;
}

body {
    @apply bg-[#fffefe] text-slate-700 text-base antialiased;
}

span {
	@apply block;
}

img {
	@apply w-full block;
}

textarea {
	@apply resize-none outline-none;
}

input {
    @apply outline-none;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}
